.DS_Store
/document
/small
/big
ngram_corpus.txt
*.csv
*.swp
*.pyc
/trained_models
/.pytest_cache
.env
/trained_models1
pdb_seqres.fasta
disprot.json
disprot.fasta
FG-NUPS.fasta
pdb.fasta
/bio_svm/logs
/bio_svm/rbf_model_results.txt
/bio_svm/rbf_test_model_results.txt
