.DS_Store
/document
/small
/big
ngram_corpus.txt
*.csv
*.swp
*.pyc
/trained_models
/.pytest_cache
.env
/trained_models1
pdb_seqres.fasta
disprot.json
disprot.fasta
FG-NUPS.fasta
pdb.fasta
/bio_svm/logs
/bio_svm/rbf_result.txt
/bio_svm/excel/
FG-NUPS.json
dataset.fasta
/bianry_svm/
density_map
uniprot_sprot.fasta
dis-disprot.json
dis-fg-nups.fasta
disordered-pdb.fasta
document.zip
